/* responsive.css
 * Jason Payne
 * 10/2/18 */

@media screen and (min-width: 1201px) {
	.software {
		width: 434px; 
		height: 584px; 
		background: url(software.png) 0px 0px;
	}
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
	.software {
		width: 424px; 
		height: 571px; 
		background: url(software.png) -442px 0px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
	.software {
		width: 714px; 
		height: 623px; 
		background: url(software.png) 0px -588px;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	.software {
		width: 332px; 
		height: 579px; 
		background: url(software.png) -874px 0px;
	}
}

@media screen and (max-width: 600px) {
	.software {
		width: 481px; 
		height: 620px; 
		background: url(software.png) -723px -591px;;
	}
}
